renpy-8.2.0-sdk/

GameAI-1.0-dists/

GameAI/game/.env

GameAI/log.txt
GameAI/game/cache/
GameAI/game/saves/

GameNONAI/log.txt
GameNONAI/game/cache/
GameNONAI/game/saves/

Inne prace/

Literature Vault/.obsidian/workspace.json

.rpyc
.rpymc
